.container {
  display: flex;
  gap: 40px;
  padding: 10px 15px;
  font-size: 18px;
}

.title {
  margin-bottom: 20px;
}

.info {
  :nth-child(3){
    max-width: 1200px;
  }
}

.text {
  margin-bottom: 5px;
}

.span {
  font-weight: 700;
  margin-right: 5px;
}

.img {
    max-width: 350px;
}

.addit{
  margin-left: 20px;
  margin-bottom: 20px;
}

.link {
  margin-right: 10px;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 24px;
  font-weight: 500;
  
  &:hover, &:focus {
    color: brown;
  }
}