.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
  }
  
  .modal-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 58px);
  }